<div class="row flexRow" >
    <div class="button"><span class="arnes_icon fa-plus"></span> Add order</div>
    <div class="button"><span class="arnes_icon fa-external-link"></span> Export</div>
    <div class="space"></div>
    <div class="PoravnajDesno flexRow" style="min-width:380px;">
        <label style="padding-top:8px;padding-right:5px;">Filter Orders</label>
        <div class="inputSpan">Filter Orders</div>
        <span class="arnes_icon fa-angle-down strelicaDole" ></span>
    </div>
</div>