<div class="row toolbar" style="min-height:50px;padding-right:20px">
    <div class="col-md-6 col-sm-5 col-xs-6">
        <div class="row">
            <div class="col-md-4"><a href="http://dimbpro.com/angular"><img class="logo" src="{{logo}}"></a></div>
            <div class="col-md-8 name header_person" style="line-height: 46px;" onclick="alert('Finish me :)')"><img class="photo" src="{{image}}"><span class="name">Arnes Beganovic</span><span class="arnes_icon fa-angle-down"></span></div>
        </div></div>
    <div class="col-md-5 col-sm-6 col-xs-5"></div>
    <div class="col-md-1 col-sm-1 col-xs-1">
        <div class="row poravnajDesno">
            <div class="col-md-4">
                <button style="height:40px!important;" class="arnes_icon_button"><span class="arnes_icon fa-search"></span></button></div>

            <div class="col-md-4">
                <button style="height:40px!important;" class="arnes_icon_button">
                    <span class="arnes_icon fa-envelope-o"></span></button>
                    <div class="arnes_icon_count">{{messages}}</div>
            </div>

            <div class="col-md-4">
                <button style="height:40px!important;" class="arnes_icon_button">
                    <span class="arnes_icon fa-comments-o"></span></button>
                <div class="arnes_icon_count">{{chat}}</div>

            </div>
        </div></div>
</div>