
<div class="row">
    <div class="col-md-12">
        <mainToolbar></mainToolbar>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <ordersChart></ordersChart>
    </div>
    <div class="col-md-6">
        <ordersChart></ordersChart>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <ordersChart></ordersChart>
    </div>
    <div class="col-md-6">
        <ordersChart></ordersChart>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <ordersChart></ordersChart>
    </div>
    <div class="col-md-6">
        <ordersChart></ordersChart>
    </div>
</div>